# Byte-compiled files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# System files
.DS_Store

# Ignore large model formats (we will track only yours)
# *.h5
# *.pkl

# Logs
*.log

# VS Code
.vscode/
